@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:diary-entry"] + [epub|type~="z3998:diary-entry"]{
	margin-top: 1em;
}

[epub|type~="z3998:diary-entry"] > header{
	font-style: italic;
	text-align: center;
}
